* {
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}
header {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
section {
    flex: 3;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 30px;
    justify-content: center;
}
#nav {
    height: 50%;
    width: 60%;
    border-radius: 30px;
    background-color: chocolate;
}
#containers {
    background-color: dodgerblue;
    border-radius: 30px;
    width: 400px;
    height: 200px;
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#images {
    background-color: navy;
    border-radius: 30px;
    width: 350px;
    height: 100px;
}
#text {
    color: navy;
    margin: 10px;
    font-size: 24px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}